/vendor/
/node_modules/
.env
.env.backup
.env.production
auth.json
.phpunit.result.cache
.phpactor.json
/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage

# Laravel 4
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen
public/storage
public/hot

# Laravel with public_html
public_html/storage
public_html/hot

/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed/
/.vagrant

.DS_Store
Thumbs.db
*.log
npm-debug.log
yarn-error.log

Homestead.yaml
Homestead.json